
.projects-container {
  width: 100%;
  background: #000;
  padding: 0px 80px 20px 80px;
  box-sizing: border-box;
  color: #fff;
}


.section-heading {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  color: #ff9f1c
;
margin: 0;
padding-bottom: 20px;
}

.section-heading::after {
  content: "";
  width: 60px;
  height: 4px;
  background: linear-gradient(90deg, #9b5de5, #ff9f1c);
  display: block;
  margin: 10px auto 0 auto;
  border-radius: 4px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 35px;
  max-width: 1200px;
  margin: auto;
}

.project-card {
  background: #111;
  border: 2px solid #222;
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.35s ease, box-shadow 0.35s ease, border 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  border-color: #ff9f1c;
  box-shadow: 0 8px 20px rgba(255, 159, 28, 0.35);
}


.project-img {
  width: 100%;
  height: 190px;
  overflow: hidden;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.project-content {
  padding: 20px;
  text-align: center;
}

.project-content h3 {
  font-size: 20px;
  font-weight: 700;
  color: #ff9f1c;
  margin-bottom: 10px;
}

.project-content p {
  font-size: 14px;
  color: #cccccc;
  margin-bottom: 15px;
  line-height: 1.5;
}


.tech-stack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 15px;
}

.tech-stack span {
  background: #222;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  color: #ff9f1c;
  border: 1px solid #333;
}


.project-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.btn {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: transform 0.25s ease, background 0.25s ease;
}

/* GITHUB BUTTON */
.btn-github {
  border: 1px solid #ff9f1c;
  color: #ff9f1c;
  background: transparent;
}

.btn-github:hover {
  background: #ff9f1c;
  color: #000;
  transform: scale(1.05);
}
