.home-container {
  background: #000;
  min-height: 100vh;
  width: 100%;
  color: white;
}


.hero-section {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
  max-width: 900px;
  margin: auto;
}


.hero-img-wrapper {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 4px solid #333;
  overflow: hidden;
  margin: 0 auto 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  object-position: center; 
  display: block;
}

/* TEXT */
.hero-title {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 15px;
}

.gradient-text {
  background: linear-gradient(90deg, #9b5de5, #ff9f1c);
  background-clip: text;
  color: transparent;
}

.hero-description {
  max-width: 580px;
  margin: 0 auto;
  color: #bbbbbb;
  font-size: 16px;
  margin-bottom: 30px;
}


.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-btn {
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.gradient-btn {
  background: linear-gradient(90deg, #9b5de5, #ff9f1c);
  color: white;
  border: none;
}

.outline-btn {
  background: none;
  border: 2px solid #666;
  color: white;
}

.outline-btn:hover {
  background: white;
  color: black;
}
