.home {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  background: #f3f4f6;
  font-family: Arial, sans-serif;
}

.home-box {
  width: 85%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-text {
  width: 50%;
  
}

.home-text h1 {
  font-size: 35px;
  font-weight: bold;
}

.home-text span {
  color: #007bff;
}

.home-text h2 {
  font-size: 20px;
  margin-top: 10px;
  color: #555;
}

.home-text p {
  margin-top: 15px;
  color: #444;
  line-height: 1.6;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.btn {
  background: #007bff;
  color: white;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 5px;
}

.btn-outline {
  border: 2px solid #007bff;
  padding: 10px 18px;
  border-radius: 5px;
  color: #007bff;
  text-decoration: none;
}

.home-image img {
  width: 250px;
  border-radius: 50%;
  border: 4px solid #007bff;
}

@media (max-width: 900px) {
  .home-box {
    flex-direction: column-reverse;
    text-align: center;
  }

  .home-text, .home-image {
    width: 100%;
  }
}
