
.about-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
  width: 100%;           
  margin: 0;            
  color: #fff;
  background-color: #000; 
  min-height: 100vh;
  box-sizing: border-box;
}


.section-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #ff9f1c;
  text-align: center;
}


.about-card {
  background: #111; 
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #333;
  line-height: 1.6;
  color: #dddddd;
  font-size: 16px;
  transition: 0.3s ease;
  max-width: 900px;
  margin: 0 auto;  
}

.about-card:hover {
  border-color: #9b5de5;
  transform: translateY(-3px);
}


.passion-card {
  background: #111;
  padding: 18px;
  border-radius: 12px;
  border: 1px solid #333;
  margin: 0 auto 15px;  
  max-width: 900px;
  transition: 0.3s ease;
}

.passions .passion-card:hover {
  border-color: #ff4ecd;
  transform: translateY(-4px);
}

.passion-card h3 {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ff4ecd;
  margin-bottom: 6px;
}

.passion-card p {
  color: #bbbbbb;
  font-size: 14px;
}


.education-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-top: 10px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;  
}

.education-card {
  background: #111;
  padding: 18px;
  border-radius: 12px;
  border: 1px solid #333;
  transition: 0.3s ease;
}

.education-card:hover {
  transform: translateY(-4px);
  border-color: #ff9f1c;
}

.education-card h3 {
  font-size: 18px;
  margin-bottom: 6px;
  color: #ff9f1c;
}

.edu-year {
  display: block;
  font-size: 14px;
  color: #bbbbbb;
  margin-bottom: 8px;
}

.education-card p {
  color: #cccccc;
  font-size: 14px;
  line-height: 1.4;
}


@media (min-width: 768px) {
  .education-grid {
    grid-template-columns: 1fr 1fr;
  }
}
