.about-section {
  background: #000;
  color: #fff;
  min-height: 100vh;
  padding: 80px 10%;
}

.about-title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 50px;
}

.gradient-text {
  background: linear-gradient(to right, #a855f7, #f97316);
   background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.about-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #444;
}

.about-right {
  flex: 1.2;
  max-width: 600px;
}

.about-heading {
  font-size: 28px;
  margin-bottom: 20px;
}

.about-description {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: #cfcfcf;
}

.highlight {
  color: #f97316;
  font-weight: 600;
}

.gradient-btn {
  padding: 12px 30px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background: linear-gradient(to right, #a855f7, #f97316);
  transition: 0.3s;
}

.gradient-btn:hover {
  transform: scale(1.05);
}
