.header {
  width: 100%;
  background: #111;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
}


.logo {
  font-size: 22px;
  color: white;
  font-weight: bold;
  white-space: nowrap;
}
 


.nav-menu {
  display: flex;
  gap: 18px;      
  flex-wrap: nowrap;
}


.nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  white-space: nowrap;  
}

.nav-menu a:hover {
  color: #00aaff;
}


.menu-icon {
  font-size: 26px;
  color: white;
  cursor: pointer;
  display: none;
}


@media (max-width: 900px) {
  .nav-menu {
    position: absolute;
    top: 70px;
    right: -220px;
    flex-direction: column;
    background: #111;
    padding: 20px;
    gap: 20px;
    width: 180px;
    transition: 0.3s ease-in-out;
    border-left: 3px solid #00aaff;
  }

  .nav-menu.active {
    right: 0;
  }

  .menu-icon {
    display: block;
  }
}
