.contact-section {
  background: #000;
  color: #fff;
  padding: 80px 10%;
  min-height: 100vh;
}

.contact-title {
  text-align: center;
  font-size: 58px;
  font-weight: bold;
  margin-bottom: 70px;
}

.gradient-text {
  background: linear-gradient(to right, #a855f7, #f97316);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}


.contact-left {
  flex: 1;
}

.contact-heading {
  font-size: 32px;
  margin-bottom: 15px;
}

.contact-description {
  font-size: 16px;
  line-height: 1.6;
  max-width: 400px;
  color: #d1d1d1;
  margin-bottom: 30px;
}

.contact-info p {
  font-size: 18px;
  margin-bottom: 10px;
}


.contact-right {
  flex: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
}


.contact-form label {
  margin-bottom: 6px;
  font-size: 14px;
}

.contact-form input,
.contact-form textarea {
  background: #1a1a1a;
  border: 1px solid #333;
  padding: 14px;
  border-radius: 8px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
}

.contact-form textarea {
  height: 160px;
  resize: none;
}

.gradient-btn {
  padding: 14px 30px;
  border-radius: 25px;
  border: none;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, #a855f7, #f97316);
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

.gradient-btn:hover {
  transform: scale(1.05);
}
