.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background: #000;
  color: #ff4ecd;
  font-family: Arial, sans-serif;
}


.logo {
  font-size: 32px;
  font-weight: bold;
}

.logo span {
  color: #ff4ecd;
}


.nav-Links {
  display: flex;
  list-style: none;
  gap: 35px;
}


.nav-Links li {
  position: relative;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}


.nav-Links li:hover {
  color: #ff4ecd;
}


.nav-Links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #ff4ecd;
  transition: width 0.3s ease;
}

.nav-Links li:hover::after {
  width: 100%;
}


.nav-Links .active {
  color: #ff4ecd;
}

.nav-Links .active::after {
  width: 100%;
}


.connect-btn {
  padding: 10px 22px;
  font-size: 15px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  color: white;
  background: linear-gradient(90deg, #9b5de5, #ff9f1c);
  transition: 0.3s;
}

.connect-btn:hover {
  opacity: 0.8;
}


@media (max-width: 768px) {
  .header {
    padding: 20px 25px;
  }

  .nav-Links {
    gap: 20px;
  }

  .nav-Links li {
    font-size: 16px;
  }
}
