
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background: #000;          
  color: white;
  font-family: Arial, sans-serif;
}


.logo {
  font-size: 32px;
  font-weight: bold;
}
.logo span {
  color: #ff4ecd;            
}


.nav ul {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav ul li {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  color: #ccc;
}

.nav ul li.active,
.nav ul li:hover {
  color: #ff4ecd;           
}


.connect-btn {
  padding: 10px 22px;
  font-size: 15px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  color: white;
  background: linear-gradient(90deg, #9b5de5, #ff9f1c);
  transition: 0.3s;
}

.connect-btn:hover {
  opacity: 0.8;
}
