.footer {
  background: #0d0d0d;
  color: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #333;
}
.logo {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1px;
}

.dot {
  color: #ff009d;
}

.description {
  color: #ccc;
  margin-top: 12px;
  max-width: 350px;
  line-height: 1.6;
}


.footer-links {
  margin-top: 100px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  margin-left: 120px;
  font-size: 15px;
  transition: 0.3s ease;
}

.footer-links a:hover {
  color: #ff009d;
 
}


.social-icons {
  display: flex;
  gap: 38px;
  margin-top: 20px;
  margin-right: 200px; 
}

.social-icons .icon {
  font-size: 28px;
  color: #ccc;
  cursor: pointer;
  transition: 0.3s ease;
}


.social-icons .icon:hover {
  color: #ff009d;
  transform: translateY(-4px);
   
}


@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-links {
    margin-top: 40px;
  }

  .footer-links a {
    margin-left: 20px;
  }

  .social-icons {
    margin-left: 0;
  }
}
