.footer {
  width: 100%;
  background: #0d0d0d;
  color: white;
  

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer-column {
  flex: 1;
}


.left {
  text-align: left;
}

.logo {
  font-size: 34px;
  font-weight: 600;
}

.dot {
  color: #ff009d;
}

.copy {
  margin-top: 10px;
  color: #bfbfbf;
}


.center {
  text-align: center;
}

.location-title {
  font-size: 15px;
  color: #aaa;
}

.location-value {
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
  color: #ff009d;
}


.right {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 45px;
  padding-right: 100px;
}

.footer-icon {
  font-size: 30px !important;
  cursor: pointer;
  color: #ccc;
  transition: 0.3s ease;
}

.footer-icon:hover {
  color: #ff009d;
  transform: translateY(-4px);
}


@media (max-width: 800px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 25px;
  }

  .left,
  .center,
  .right {
    text-align: center;
    justify-content: center;
  }

  .right {
    justify-content: center;
  }
}
