.footer {
  background: #000;
  color: #ddd;
  padding: 0px 80px 20px 80px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footer-column h3 {
  color: #ff4ecd;
  font-size: 18px;
  margin-bottom: 15px;
  position: relative;
}

.footer-column h3::after {
  content: "";
  width: 40px;
  height: 3px;
  background: linear-gradient(90deg, #ff4ecd, #9b5de5);
  position: absolute;
  left: 0;
  bottom: -6px;
  border-radius: 5px;
}


.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-column ul li:hover {
  color: #ff4ecd;
}


.footer-column p {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ccc;
}


.social-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.social-links a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ff4ecd;
  text-decoration: none;
  transition: 0.3s;
}

.social-links a:hover {
  color: #ff4ecd;
  transform: translateX(5px);
}

.social-links svg {
  font-size: 18px;
}


.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 14px;
  color: #888;
}


@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .footer-column p,
  .social-links a {
    justify-content: center;
  }
}
