.footer {
  background: #0d0d0d;
  color: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #333;
}

.logo {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1px;
}

.dot {
  color: #ff009d;
}

.description {
  color: #ccc;
  margin-top: 12px;
  max-width: 350px;
  line-height: 1.6;
}

.footer-right {
  text-align: right;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  margin-left: 200px;
  font-size: 15px;
}

.footer-links a:hover {
  color: #ff009d;
}

.footer-links {
  margin-top: 100px;
}
